/* Main CSS file */
img.warpwire-logo {
    width: 20px;
}
div.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
div.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#buildVideo iframe {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#addQuestionModal .modal-footer {
    margin-top: 0;
}
#answerContainer .input-group {
    margin-top: 10px;
}
button.question-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 18px 8px 8px;
    text-align: left;
}
#theQuestions div.dropdown {
    margin-top: 2px;
}
div.feedback-panel {
    padding: 0;
}
#feedbackDown, #feedbackUp {
    margin-right: 6px;
}
span.iv-caret {
    position: absolute;
    right: 9px;
    top: 18px;
}
div.video-action-row {
    margin-top: 2em;
}
#askQuestionModalBody {
    text-align: center;
}
#askQuestionModalBody div.list-group-item {
    border: none;
    padding: 6px;
}
#askQuestionModalBody button.answer-option {
    white-space: normal;
    min-width: 250px;
}
#currentPlayTime {
    padding-left: 8px;
}